<%- include('./partials/header.ejs') %> 
    <!-- Start Navbar -->
    <%- include('./partials/navbar.ejs') %> 
    <!-- End Navbar -->
    <div class="container">
        <!-- Start Slider Image -->
        <div id="carouselExampleControls" class="carousel slide mb-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.soco.id/cdn-cgi/image/w=1200,format=auto,dpr=1.45/https://images.soco.id/f517e0a3-fe3b-49d2-99d7-9b000a4a7c39-.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.soco.id/cdn-cgi/image/w=1200,format=auto,dpr=1.45/https://images.soco.id/e848889f-2caf-46a2-8b51-f096a3b733ed-.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.soco.id/cdn-cgi/image/w=1200,format=auto,dpr=1.45/https://images.soco.id/a97bf97d-e5ea-466b-afc7-51aa0ed58b79-.jpg"
                        class="d-block w-100" alt="...">
                </div>

                <div class="carousel-item">
                    <img src="https://www.soco.id/cdn-cgi/image/w=1200,format=auto,dpr=1.45/https://images.soco.id/9bbd6d24-4c7e-4700-bf7a-818cf893e659-.jpg"
                        class="d-block w-100" alt="...">
                </div>

                <div class="carousel-item">
                    <img src="https://www.soco.id/cdn-cgi/image/w=1200,format=auto,dpr=1.45/https://images.soco.id/b68690af-40f4-4010-8893-a93ed953c359-.jpg"
                        class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- End Slider Image -->
        <div class="row">
            <div class="col-2">
                <ul class="list-group"> 
                    <% categories.forEach(category => { %> 
                        <li class="list-group-item">
                            <a class="badges text-capitalize" href="/?category=<%= category.name.trim() %>"><%= category.name %></a>
                        </li>
                    <% }); %> 
                </ul>
            </div>
            <div class="col-10">
                <div class="row"> 
                        <% products.forEach(product => { %> 
                            <div class="col-3">
                            <div class="card" style="width: 15rem;">
                                <img src="<%= product.image %>" class="card-img-top p-3" alt="<%= product.name %>">
                                <div class="card-body">
                                  <h5 class="card-title text-capitalize"><%= product.name %></h5>
                                  <p class="card-text"><%= formatCurrency(product.price) %></p>
                               
                                  <div class="btn-group d-flex justify-content-between">
                                    <p class="card-text">
                                        <span class="badge bg-primary text-capitalize"><%= product.Category.name %></span>
                                    </p>
                                    <a href="/products/<%= product.name %>" >
                                        <span class="badge bg-secondary">Details</span>
                                    </a> 
                                  </div> 
                                </div>
                              </div>
                            </div>
                        <% }); %> 
                </div>  
            </div>
        </div>
        <!-- start Category -->
        
        <!-- end Category -->
    </div>

<%- include('./partials/footer.ejs') %> 